body{
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}
#h1{
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
 font-size: 40px;
 text-shadow:2px 2px 4px gray ;
 letter-spacing: 1.2em;
 border-bottom:solid 3px rgb(115, 115, 114) ;
}
html{
  font-size: 20px;
}
.skyblue{
  color: skyblue;
}
.pink{
  color:rgb(255, 192, 203);
}
#parent .bold-text{
 font-weight: bold;
}