h1,p,body{
  margin: o;
}
p{
  font-size: 20px;
}
a{
  font-size: 20px;
}
#header{
  margin-bottom: 20px;
  background-color: rgb(244, 79, 79);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.h1{
  color: rgb(255, 255, 255);
}
main{
  padding: 10px;
}
#parent{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.contents{
  border: solid 3px rgb(238, 204, 204);
  flex-basis: 25%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;
}
h2{
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
  }
h2::before{
  content: "●";
  color: rgb(239, 111, 139);
}
.contents p:nth-of-type(2)::first-letter{
 font-weight: bold;
 color: rgb(97, 206, 249);
}
img{
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
footer{
  background-color: rgb(244, 79, 79);
  text-align: center;
}
a{
  color: rgb(255, 255, 255);
  }
a:visited{
  color: rgb(193, 234, 251);
}
a:hover{
  color: rgb(245, 178, 168);
}
@media screen and (max-width: 768px){
  h2{
    font-size: 30px;
  }
  p{
    font-size: 25px;
  }
  #parent{
    flex-direction: column;
  }
}